$base_color: #1b1520;
$base_color_dark: #141018;
$base_color_light: #9a2de7;
$base_color_medium: #5e3a73;
$highlight: #6de8ff;
$highlight_alt: #ffffca;
$font_color: #d7e5e9;
$base_grey: #595959;
$highlight_error: #ff6d6d;
$highlight_success: #6dff9b;
